div {
  border: 2px dotted pink;
}
img {
  height: 200px;
  width: 200px;
  float: left;
  border: 2px solid black;
}
.userInfo{
  height: 200px;
  width: 700px;
  display: inline-block;
  float: left;
}
.users_events{
  float:right;
  display: inline-block;
  height: 60vh;
  width: 350px;
  overflow-y: auto;
}
.interests{
  height: 100px;
  width: 900px;
  float: left;
}
.friendList{
  clear: both;
  margin-top: -100px;
  height: 200px;
  width: 200px;
}
