.profContain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }
#bottomPage{
  text-align: center;
  align-content: center;
}
.profContain div {
  border: 2px dotted pink;
}
img {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  float: left;
  border: 2px solid black;
  display: inline-block;
}
.userInfo{
  margin-top: 20px;
  height: 100px;
  width: 650px;
  display: inline-block;
  float: left;
}
.users_events{
  margin-top: 10px;
  display: inline-block;
  height: 60vh;
  width: 425px;
  overflow-y: auto;
}
.event_list{
  position: relative;
  margin-top: 10px;
  display: inline-block;
  height: 50vh;
  width: 425px;
  overflow-y: auto;
      margin-right: 317px;
    margin-left: -311px;
}
.interests{
  position: absolute;
  top: 212px;
  left:415px;
  height: 97px;
  width: 650px;
  float: right;
  display: inline-block;

}
.friendList{

  margin-top: 10px;
  height: 50vh;
  width: 425px;
  display: inline-block;

}
