.landingPage {
  /*display: flex;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.p{
  float: right;
  width: 87px;
 text-align: right;
 margin-right: 20px;
 margin-bottom: 5px;
    font-size: 15px;
    background-color: grey;
    border-radius: 3px;
    padding: 1px;
    clear: both;
}
.p a {
 color: white;
}
.p a:hover{
  color: purple;
}
