.login_form{
  background-color: #ADB6B5;
  height: 60vh;
  width: 30vw;
}

.input {
  width: 300px;
  margin-top: 25px;
  height: 45px;
}
#submit{
  padding: 30px;
  font-size: 60px;
}
#submit:hover{
  cursor: pointer;
}
#top{
  margin-top: 25px;
}
