.loginTabs{
  margin-top: 20px;
  display: inline-block;
}
.signup{
  padding: 10px;
  font-size: 30px;
  width: 100px;
  display: inline-block;
}
.signup:hover {
  cursor: pointer;
  color: #085DAD;
}
.login{
  padding: 10px;
  font-size: 30px;
  width: 100px;
  display: inline-block;
}
.login:hover {
  cursor: pointer;
  color: #8CC739;
}
.sep {
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: black;
}
