h1 {
  text-align: center;
}

#a {
  text-align: center;
}

.eventFormWrapper {
  text-align: center;
}


.input-lg {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom:20px;

}

.input-lg2 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom:20px;
}

.input-lg3 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom:20px;
}
